		<div class="modal-content">
{{#each this}}
      		<h4 class="name">{{name}}</h4>
      		<p class="hidden">{{description}}</p>
{{/each}}
    	</div>
    	<div class="modal-footer">
      		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    	</div>

