		<div class="modal-content">
{{#each this}}
      		<h4>{{name}}</h4>
      		<p>{{description}}</p>
{{/each}}
    	</div>
    	<div class="modal-footer">
      		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    	</div>

